---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PlaygroundCard from "@components/playground.astro";

---

<Layout title="Playground">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Playground</Fragment>
      <Fragment slot="desc">
Test      </Fragment>
    </Sectionhead>
<section class="flex items-center justify-center mt-10 pb-10">
    <div class="p-4 sm:px-10 flex flex-col justify-center items-center text-base h-100vh mx-auto" id="pricing">
<!-- follow me on twitter @asad_codes -->
<div class="flex flex-wrap place-items-center h-screen">
    <!-- card -->
    <div class="shadow-lg rounded-xl w-72 md:w-96 p-4 bg-white relative overflow-hidden">
        <a href="#" class="w-full h-full block">
            <div class="flex items-center border-b-2 mb-2 py-2">
                <img class='w-10 h-10 object-cover rounded-full' alt='User avatar' src='https://images.unsplash.com/photo-1477118476589-bff2c5c4cfbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=200'>
  
                <div class="pl-3">
                    <div class="font-medium">
                        Jessica White
                    </div>
                    <div class="text-gray-600 text-sm">
                        Sr. Forntend Developer
                    </div>
                </div>
            </div>
            <div class="w-full">
                <p class="text-gray-800 text-sm font-medium mb-2">
                    Working On:
                </p>
                <p class="text-gray-800 text-xl font-medium mb-2">
                    Improve css design of the carousel
                </p>
                <p class="text-blue-600 text-xs font-medium mb-2">
                    Due: Sunday, 23 August
                </p>
                <p class="text-gray-400 text-sm mb-4">
                    You’ve been coding for a while now and know your way around...
                </p>
            </div>
            <div class="flex items-center justify-between my-2">
                <p class="text-gray-300 text-sm">
                    4/6 task completed
                </p>
            </div>
            <div class="w-full h-2 bg-blue-200 rounded-full">
                <div class="w-2/3 h-full text-center text-xs text-white bg-blue-600 rounded-full">
                </div>
            </div>
        </a>
    </div>
  </div>
  
  <!-- Does this resource worth a follow? -->
  <div class="flex items-end justify-end fixed bottom-0 right-0 mb-4 mr-4 z-10">
    <div>
        <a title="Follow me on twitter" href="https://www.twitter.com/asad_codes" target="_blank" class="block w-16 h-16 rounded-full transition-all shadow hover:shadow-lg transform hover:scale-110 hover:rotate-12">
            <img class="object-cover object-center w-full h-full rounded-full" src="https://www.imore.com/sites/imore.com/files/styles/large/public/field/image/2019/12/twitter-logo.jpg"/>
        </a>
    </div>
  </div>
    </div>
</section>
  </Container>
</Layout>
