---
// @ts-ignore
import { Icon } from 'astro-icon/components';

// We do this because https://tailwindcss.com/docs/content-configuration#dynamic-class-names
const colors = {
  pink: "mt-1 bg-pink rounded-full p-2 w-8 h-8 shrink-0",
  yellow: "mt-1 bg-yellow rounded-full p-2 w-8 h-8 shrink-0",
  blue: "mt-1 bg-blue rounded-full p-2 w-8 h-8 shrink-0",
  sky: "mt-1 bg-sky rounded-full p-2 w-8 h-8 shrink-0"
};

const features = [
  {
    title: "Curate Anywhere, Collaborate Everywhere",
    description:
      "Capture and organize ideas easily with our Chrome plugin and inbox. Engage your audience in topic collaboration, transforming your podcast into a community-driven project.",
    icon: "mdi:web",
    color: "pink"
  },
  {
    title: "Audience-Powered Content Creation",
    description:
      "Deepen listener relationships by letting them suggest and vote on content ideas, making your episodes more engaging and community-focused.",
    icon: "mdi:people-group-outline",
    color: "yellow"
  },
  {
    title: "From Ideas to Episodes",
    description:
      "Turn ideas into episodes with ease using our tools. Coordinate with co-hosts, track progress, and schedule content, all in one place.",
    icon: "ci:list-checklist",
    color: "blue"
  },
  {
    title: "Runsheet Mastery",
    description:
      "Create runsheets to guide your recordings, ensuring consistency. Automatically generate detailed show notes from these plans, boosting engagement.",
    icon: "mdi:clipboard-list",
    color: "sky"
  },
  {
    title: "Engage and Grow",
    description:
      "Involve your audience in shaping your podcast, using their ratings and topic contributions to refine content and build community.",
    icon: "bi:graph-up",
    color: "pink"
  },
  {
    title: "Smart Promotion Tools",
    description:
      "Use AI to find trending topics and create hashtags, helping your podcast reach new audiences and grow more effectively.",
    icon: "mdi:hashtag-box",
    color: "yellow"
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Taking your Content from Ideas to Production</h2>
  <p class="text-lg mt-4 text-slate-600">
    Replace a dozen tools with a feature set that helps you manage your content, cohosts and audience
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class={colors[item.color]}>
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
