---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with all your favorite technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12 text-[#FF0000]" name="simple-icons:youtube" />
    <Icon class="h-8 md:h-12" name="simple-icons:patreon" />
    <Icon class="h-8 md:h-14 text-[#9933CC]" name="simple-icons:applepodcasts" />
    <Icon class="h-8 md:h-16" name="simple-icons:twitch" />
    <Icon class="h-8 md:h-12" name="simple-icons:vercel" />
    <Icon class="h-8 md:h-12" name="simple-icons:astro" />
  </div>
</div>
