<section class="flex flex-wrap">
  <div class="w-full px-4">
    <div class="mx-auto mb-[60px] max-w-[510px] text-center lg:mb-[90px]">
      <span class="text-pink mb-2 block text-lg font-semibold">Bring Process to your Content Creation
      </span>
      <h2
        class="text-dark dark:text-white mb-3 text-3xl leading-[1.2] font-bold sm:text-4xl md:text-[40px]">
        Professional Podcasting without the Costs
      </h2>
      <p class="text-body-color text-base dark:text-dark-6">
        The best podcasts and streams run a tight ship, from ideas through to the final product. We have you covered.
      </p>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full px-4 md:w-1/2 xl:w-1/4">
      <div class="relative mx-auto mb-10 max-w-[370px] text-center">
        <div
          class="border-pink-600 absolute top-12 -right-4 hidden h-1 w-16 border-t-2 border-dashed xl:block 2xl:w-[75px]">
        </div>
        <div
          class="bg-pink-600 relative mx-auto mb-8 flex h-[100px] w-[100px] items-center justify-center rounded-[20px] text-white">
          <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M38.5687 32.1063C37.7437 29.3563 34.9937 27.8438 32.3812 28.6C30.3187 29.2188 27.5 30.0438 25.3 30.6625C25.4375 29.975 25.3 29.425 25.0937 28.9438C24.475 27.3625 22.7562 26.675 21.3125 26.675H14.9875C14.5062 26.675 14.025 26.4688 13.475 25.9875C12.7187 25.3 11.825 24.9563 10.7937 24.9563H5.775C3.4375 24.9563 1.5125 26.95 1.5125 29.3563V37.4688C1.5125 39.9438 3.4375 41.9375 5.84375 41.9375H11.9625C12.7187 41.9375 13.475 41.7313 14.1625 41.3188C15.95 42.2813 18.0125 42.8313 20.075 42.8313C21.3812 42.8313 22.6187 42.625 23.7187 42.2813L35.0625 38.8438H35.1312C38.7062 37.4 39.1875 34.375 38.5687 32.1063ZM4.60625 37.4688V29.3563C4.60625 28.6 5.15625 28.05 5.775 28.05H10.8625C11.0687 28.05 11.275 28.1188 11.4125 28.2563C11.55 28.3938 11.7562 28.5313 11.9625 28.6688V38.8438H5.84375C5.15625 38.8438 4.60625 38.225 4.60625 37.4688ZM34.1687 35.8188L22.825 39.2563C21.9312 39.5313 21.0375 39.6688 20.075 39.6688C18.4937 39.6688 16.9812 39.2563 15.6062 38.5L15.0562 38.225V29.7688H21.3125C21.7937 29.7688 22.2062 29.975 22.2062 30.1125C22.275 30.1813 22.1375 30.8688 20.9 32.1063C20.35 32.5875 20.2812 33.4125 20.625 34.0313C21.2437 35.1313 21.9312 34.925 24.1312 34.3063C25.1625 34.0313 26.5375 33.6188 27.8437 33.2063C30.525 32.3813 33.2062 31.625 33.2062 31.625C34.2375 31.35 35.2687 31.9688 35.6125 33.0688C35.8875 33.9625 35.8187 35.2 34.1687 35.8188Z" fill="white"/>
            <path d="M42.35 2.20001C42.1437 1.71876 41.6625 1.30626 41.0437 1.30626C37.8125 1.03126 34.375 1.10001 31.625 3.78126C30.5937 4.81251 29.975 6.32501 29.9062 7.90626C29.9062 8.93751 30.1812 9.90001 30.6625 10.725C28.875 12.1688 27.5 13.9563 26.5375 15.95C25.7125 14.1625 24.5437 12.5813 23.0312 11.275C23.7875 10.3813 24.1312 9.14376 24.1312 7.90626C24.1312 6.32501 23.5125 4.81251 22.4125 3.78126C19.6625 1.10001 16.225 1.03126 12.9937 1.30626C12.4437 1.37501 11.9625 1.71876 11.6875 2.20001C11.4812 2.68126 11.55 3.30001 11.8937 3.78126C12.7875 5.01876 13.0625 6.25626 13.3375 7.56251C13.6125 8.93751 13.8875 10.3813 15.0562 11.55C16.0875 12.5125 17.6 13.1313 19.1125 13.1313C19.525 13.1313 19.8687 13.0625 20.2812 12.9938C23.375 15.4 24.9562 18.9063 24.9562 23.2375C24.9562 24.0625 25.6437 24.8188 26.5375 24.8188C27.4312 24.8188 28.1187 24.1313 28.1187 23.2375C28.1187 18.7 29.7687 15.1938 33.1375 12.7188C33.7562 12.925 34.375 13.0625 35.0625 13.0625C36.575 13.0625 38.0875 12.4438 39.1187 11.4813C40.2875 10.3813 40.5625 8.93751 40.8375 7.49376C41.1125 6.18751 41.3187 4.95001 42.2812 3.71251C42.4875 3.36876 42.5562 2.75001 42.35 2.20001ZM17.1875 9.28126C16.775 8.86876 16.5687 8.11251 16.3625 6.94376C16.225 6.11876 16.0187 5.22501 15.675 4.26251C17.5312 4.33126 19.0437 4.74376 20.2812 5.98126C20.6937 6.39376 21.0375 7.15001 21.0375 7.90626C21.0375 8.59376 20.8312 9.14376 20.4875 9.48751C19.5937 10.3813 18.0125 10.1063 17.1875 9.28126ZM37.675 6.94376C37.4687 8.11251 37.2625 8.86876 36.85 9.28126C36.025 10.1063 34.4437 10.3813 33.6187 9.48751C33.275 9.14376 33.0687 8.52501 33.0687 7.90626C33.0687 7.15001 33.3437 6.46251 33.825 5.98126C35.1312 4.74376 36.575 4.33126 38.4312 4.26251C38.0187 5.22501 37.8812 6.18751 37.675 6.94376Z" fill="white"/>
            </svg>
            
        </div>
        <h3 class="text-dark dark:text-white mb-5 text-2xl font-semibold">
          Curate
        </h3>
        <p class="text-body-color dark:text-dark-6 text-base">
          Curate ideas from all around the web with our Web Clip tool and share ideas with your audience for feedback.
        </p>
      </div>
    </div>
    <div class="w-full px-4 md:w-1/2 xl:w-1/4">
      <div class="relative mx-auto mb-10 max-w-[370px] text-center">
        <div
          class="border-pink-600 absolute top-12 -left-4 hidden h-1 w-16 border-t-2 border-dashed xl:block 2xl:w-[75px]">
        </div>
        <div
          class="border-pink-600 absolute top-12 right-[-14px] hidden h-1 w-16 border-t-2 border-dashed xl:block 2xl:w-[75px]">
        </div>
        <div
          class="bg-pink-600 mx-auto mb-8 flex h-[100px] w-[100px] items-center justify-center rounded-[20px] text-white">
          <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M37.4 1.2375H6.6C3.64375 1.2375 1.16875 3.64375 1.16875 6.66875V37.4688C1.16875 40.425 3.575 42.8313 6.6 42.8313H37.4C40.3562 42.8313 42.7625 40.425 42.7625 37.4688V6.6C42.7625 3.64375 40.3562 1.2375 37.4 1.2375ZM39.7375 6.6V26.2625H30.25V4.2625H37.4C38.6375 4.2625 39.7375 5.3625 39.7375 6.6ZM16.8437 26.2625V4.2625H27.225V26.1938H16.8437V26.2625ZM6.6 4.2625H13.75V26.1938H4.2625V6.6C4.2625 5.3625 5.3625 4.2625 6.6 4.2625ZM37.4 39.7375H6.6C5.3625 39.7375 4.2625 38.7063 4.2625 37.4688V29.3563H39.6687V37.4688C39.7375 38.6375 38.6375 39.7375 37.4 39.7375Z" fill="white"/>
            </svg>
            
        </div>
        <h3 class="text-dark dark:text-white mb-5 text-2xl font-semibold">
          Manage
        </h3>
        <p class="text-body-color dark:text-dark-6 text-base">
          Turn ideas into Topics with your team and manage the process from start to finish.
        </p>
      </div>
    </div>
    <div class="w-full px-4 md:w-1/2 xl:w-1/4">
      <div class="relative mx-auto mb-10 max-w-[370px] text-center">
        <div
          class="border-pink-600 absolute top-12 -left-4 hidden h-1 w-16 border-t-2 border-dashed xl:block 2xl:w-[75px]">
        </div>
        <div
          class="border-pink-600 absolute top-12 right-[-14px] hidden h-1 w-16 border-t-2 border-dashed xl:block 2xl:w-[75px]">
        </div>
        <div
          class="bg-pink-600 mx-auto mb-8 flex h-[100px] w-[100px] items-center justify-center rounded-[20px] text-white">
          <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22 26.0563C26.2625 26.0563 29.7687 22.55 29.7687 18.2875V9.00625C29.7687 4.74375 26.2625 1.2375 22 1.2375C17.7375 1.2375 14.2312 4.74375 14.2312 9.00625V18.2875C14.2312 22.55 17.7375 26.0563 22 26.0563ZM22 4.33125C24.4062 4.33125 26.3312 6.11875 26.675 8.45625H26.4687C25.6437 8.45625 24.8875 9.14375 24.8875 10.0375C24.8875 10.9313 25.575 11.6188 26.4687 11.6188H26.7437V12.7188H26.4687C25.6437 12.7188 24.8875 13.4063 24.8875 14.3C24.8875 15.1938 25.575 15.8813 26.4687 15.8813H26.7437V16.9125H26.4687C25.6437 16.9125 24.8875 17.6 24.8875 18.4938C24.8875 19.3188 25.575 20.0063 26.4 20.0063C25.7812 21.7938 23.9937 23.1 22 23.1C19.9375 23.1 18.2187 21.7938 17.6 20.0063C18.425 20.0063 19.1125 19.3188 19.1125 18.4938C19.1125 17.6688 18.425 16.9125 17.5312 16.9125H17.2562V15.8813H17.5312C18.3562 15.8813 19.1125 15.1938 19.1125 14.3C19.1125 13.4063 18.425 12.7188 17.5312 12.7188H17.2562V11.6188H17.5312C18.3562 11.6188 19.1125 10.9313 19.1125 10.0375C19.1125 9.14375 18.425 8.45625 17.5312 8.45625H17.325C17.6687 6.11875 19.5937 4.33125 22 4.33125Z" fill="white"/>
            <path d="M35.0625 18.6312C35.0625 17.8062 34.375 17.05 33.4812 17.05C32.5875 17.05 31.9 17.7375 31.9 18.6312C31.9687 24.0625 27.5 28.4625 22 28.4625C16.5 28.4625 12.0312 24.0625 12.0312 18.5625C12.0312 17.7375 11.3437 16.9812 10.45 16.9812C9.55624 16.9812 8.86874 17.6687 8.86874 18.5625C8.86874 25.1625 13.8875 30.6625 20.35 31.4187V41.25C20.35 42.075 21.0375 42.8312 21.9312 42.8312C22.7562 42.8312 23.5125 42.1437 23.5125 41.25V31.4875C30.0437 30.7312 35.0625 25.2312 35.0625 18.6312Z" fill="white"/>
            </svg>
            
        </div>
        <h3 class="text-dark dark:text-white mb-5 text-2xl font-semibold">
          Produce
        </h3>
        <p class="text-body-color dark:text-dark-6 text-base">
          Produce top quality shows with our Runsheet and Topic organiser to keep everyone on track
        </p>
      </div>
    </div>
    <div class="w-full px-4 md:w-1/2 xl:w-1/4">
      <div class="relative mx-auto mb-10 max-w-[370px] text-center">
        <div
          class="border-pink-600 absolute top-12 left-[-14px] hidden h-1 w-16 border-t-2 border-dashed xl:block 2xl:w-[75px]">
        </div>
        <div
          class="bg-pink-600 mx-auto mb-8 flex h-[100px] w-[100px] items-center justify-center rounded-[20px] text-white">
          <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M41.25 38.8437H40.8375V21.1062C40.8375 19.525 39.5313 18.15 37.8813 18.15H34.1688C32.5875 18.15 31.2125 19.4562 31.2125 21.1062V38.8437H26.8125V25.0937C26.8125 23.5125 25.5063 22.1375 23.8563 22.1375H20.1438C18.5625 22.1375 17.1875 23.4437 17.1875 25.0937V38.775H12.7188V29.7687C12.7188 28.1875 11.4125 26.8125 9.76251 26.8125H6.05001C4.46876 26.8125 3.09376 28.1187 3.09376 29.7687V38.775H2.75001C1.92501 38.775 1.16876 39.4625 1.16876 40.3562C1.16876 41.25 1.92501 41.9375 2.75001 41.9375H41.25C42.075 41.9375 42.8313 41.25 42.8313 40.3562C42.8313 39.4625 42.075 38.8437 41.25 38.8437ZM6.25626 38.8437V29.975H9.62501V38.8437H6.25626ZM20.2813 38.8437V25.3H23.65V38.8437H20.2813ZM34.375 38.8437V21.3125H37.7438V38.8437H34.375Z" fill="white"/>
            <path d="M7.15004 17.1188C7.28754 17.1188 7.42504 17.1188 7.56254 17.05L34.375 9.14375L33.55 10.3125C33.0688 11.0688 33.3438 11.9625 34.0313 12.4438C34.3063 12.5813 34.5813 12.65 34.8563 12.65C35.3375 12.65 35.8875 12.375 36.1625 11.8938L39.05 7.2875C39.5313 6.53125 39.2563 5.6375 38.5688 5.15625L33.9625 2.26875C33.275 1.7875 32.3125 2.0625 31.8313 2.75C31.35 3.4375 31.625 4.46875 32.3125 4.95L33.9625 5.98125L6.73754 14.0938C5.91254 14.3688 5.43129 15.1938 5.70629 16.0188C5.84379 16.7063 6.46254 17.1188 7.15004 17.1188Z" fill="white"/>
            </svg>
            
        </div>
        <h3 class="text-dark dark:text-white mb-5 text-2xl font-semibold">
          Grow
        </h3>
        <p class="text-body-color dark:text-dark-6 text-base">
          Grow your reach, downloads and views by producing consistent released content that resonates with your audience.
        </p>
      </div>
    </div>
  </div>
</section>
